.scans {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #1e1e2b;
  overflow-y: auto;
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    tr {
      text-align: left;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
    .table-header {
      border-bottom: 1px solid var(--border-color);
      background-color: #2e2e41;
      position: sticky;
      top: 0;
      z-index: 1;
      th {
        color: var(--brighter-color);
        height: 50px;
        padding: 0 30px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .table-body {
      cursor: pointer;
      td {
        padding: 20px 30px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width: 768px) {
  .scans {
    table {
      table-layout: auto;
    }
  }

  .scans {
    .table-body {
      td {
        white-space: normal;
      }
    }
  }
}
