.scans {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  background-color: #1e1e2b;
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      text-align: left;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
    .table-header {
      border-bottom: 1px solid var(--border-color);
      background-color: #2e2e41;
      th {
        
        color: var(--brighter-color);
        padding: 20px;
        text-transform: uppercase;
      }
    }
    .table-body {
      cursor: pointer;
      td {
        padding: 20px;
        font-weight: 500;
        /* font-size: 12px; */
      }
      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          height: 22px;
          width: 22px;
          stroke-width: 1.5;
          margin: 0 5px;
        }
      }
    }
  }
}
