@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Rubik:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
  background-color: var(--main-background-color);
  letter-spacing: 0.4px;
}

:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: #9898a1;
  --brighter-color: #e9e9e9;
  --brighter-color-2: #bdbdbd;
  --action-button-color: #ffffff;
  --border-color: #363637;
  --border-color-3: #2a2a2b;
  --icon-color: #9898a1;
  --border-color-2: rgb(100, 100, 100);
  --background-color: #1e1e2b;
  --background-color-hover: #262637;
  --main-background-color: #171721;
  --main-background-color-2: #1d1d2a;
  --main-background-color-3: rgba(66, 30, 144, 0.272);
  --radius: 10px;
  --purple: rgb(78, 3, 200);
  --purple-3: rgb(130, 6, 255);
  --purple-2: rgb(0, 255, 153);
  --action-color: rgb(116, 43, 225);
  --action-color-2: #b88342;
  --action-color-3: #ff0a7c;
  --orange: rgb(16 185 129);
  --greenish: rgb(0, 255, 166);
  --padding: 30px;
  --placeholder-color: #616161;
  --rt-transition-show-delay: 0.3s !important;
  --rt-transition-closing-delay: 0.3s !important;
}

.tooltip {
  background-color: black !important;
  color: #ffffff !important;
  font-size: 13px !important;
  font-family: "Open sans";
  padding: 5px 12px !important;
  border-radius: 8px !important;
  z-index: 9999;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  border-radius: 10px;
  padding: 15px 10px;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  outline: none;
}

.button {
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

/* removes chrome's input colorization */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

/* scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

/* scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  /* background-color: var(--main-background-color); */
  border-radius: var(--radius);
}

/* scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgb(71, 63, 81);
  border-radius: var(--radius);
}

/* scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(88, 78, 100);
}

/* scrollbar corner for resizable elements */
::-webkit-scrollbar-corner {
  /* background-color: var(--main-background-color); */
}

.sign-button {
  margin-top: 25px !important;
  border-radius: var(--radius);
}

.full-page-centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-margin > * {
  margin: 15px 0;
}

.shadow {
  box-shadow: 1px 1px 20px #d1d1d1;
}
.terminal {
  box-shadow: 1px 1px 15px 4px #a0a0a0;
  overflow-y: scroll;
  height: 500px;
  margin-top: 20px;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 10px;
  color: rgb(27, 192, 73);
}

.login-divider::before,
.login-divider::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgb(159, 159, 159);
  width: 50%;
}

svg {
  stroke-width: 1.5;
}

a {
  transition: 0.2s;
}

select {
  border: 1px solid var(--border-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  border-radius: var(--radius);
  font-size: 12px;
  padding: 5px 15px;
  text-transform: capitalize;
  min-height: 32px;
}

select:focus {
  outline: none;
}

.login-main {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 15px 1px #15151c;
}

.root-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  transition: 0.2s;
}

.root-layout .sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: #1e1e2b;
  border-right: 1px dotted var(--border-color);
}
.root-layout .topbar {
  grid-area: header;
  position: fixed;
  left: 270px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1e1e2b;
  h1 {
    padding: 0 20px;
  }
}

.root-layout .main {
  grid-area: main;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.root-layout > * {
  transition: 0.2s;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 36px;
}

.logo-svg {
  background: rgb(116, 43, 225);
  background: linear-gradient(
    145deg,
    rgba(116, 43, 225, 1) 15%,
    rgb(255, 0, 111) 100%
  );
  padding: 3px;
  border-radius: 7px;
}

.reg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.ascii {
  /* font-family: ; */
  font-size: 15px;
  background: linear-gradient(133deg, #ff0b50, #6f00ff, #6000e7);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes appear {
  0% {
    opacity: 0.1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear2 {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear4 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes card1 {
  0% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes card2 {
  0% {
    opacity: 0;
    transform: translate(50px, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes card3 {
  0% {
    opacity: 0;
    transform: translate(-50px, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes card4 {
  0% {
    opacity: 0;
    transform: translate(50px, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.card-1 {
  animation: card1 0.2s ease-in-out 1;
}
.card-2 {
  animation: card1 0.2s ease-in-out 1;
}
.card-3 {
  animation: card1 0.2s ease-in-out 1;
}
.card-4 {
  animation: card1 0.2s ease-in-out 1;
}

@media (max-width: 1023px) {
  .root-layout {
    grid-template-columns: 80px 1fr;
  }
  .root-layout .sidebar {
    width: 80px;
  }
  .root-layout .topbar {
    left: 80px;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 15px;
    gap: 15px;
  }
  .login-layout {
    padding: 0 30px;
  }
}
@media (max-width: 500px) {
  .chart-title {
    display: none;
  }
  .table-actions {
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .status-cmp {
    font-size: 10px !important;
  }
  .root-layout {
    grid-template-columns: 60px 1fr;
  }
  .topbar {
    left: 60px !important;
  }
  .sidebar {
    width: 60px !important;
    .container {
      a {
        height: 30px;
        margin-bottom: 20px;
        svg {
          font-size: 22px;
        }
      }
    }
  }
}
