@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Rubik:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
  background-color: #f6f6f6;
}
:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: rgb(33, 33, 33);
}

.tooltip {
  background-color: #6c6c6c !important;
  color: #ffffff !important;
  opacity: .9 !important;
  font-size: 11px !important;
  /* font-weight: bold; */
  font-family: "Open sans";
  transition: .2s !important;
  padding: 2px 5px !important;
}

input {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
}

button {
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  /* background-color: #2e394e; */
}

.full-page-centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-margin > * {
  margin: 15px 0;
}

.shadow {
  box-shadow: 1px 1px 20px rgb(225, 225, 225);
}

.login-divider::before,
.login-divider::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgb(212, 212, 212);
  width: 50%;
}

a {
  transition: .2s;
}

.root-layout {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  transition: 0.2s;
}

.root-layout .sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: #121926;
  /* background-color: #2f4364; */
}
.root-layout .topbar {
  grid-area: header;
  position: fixed;
  left: 270px;
  height: 60px;
  width: 100%;
}

.root-layout .main {
  grid-area: main;
}

.root-layout > * {
  transition: 0.2s;
}

@keyframes appear {
  0% {
    opacity: 0.1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear2 {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1023px) {
  .root-layout {
    grid-template-columns: 80px 1fr;
  }
  .root-layout .sidebar {
    width: 80px;
  }
  .root-layout .topbar {
    left: 80px;
  }
}