@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Rubik:wght@300..900&display=swap");
@import url("./pages/Nmap/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
  /* background-color: #f9f9f9; */
  /* background-color: #1e1e2b; */
  background-color: #171721;
}

:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  /* color: rgb(229, 229, 229); */
  color: #8686b4;
  --border-color: #443c55;
  --purple: #4e03c8;
  --greenish: rgb(0, 255, 166);
  /* --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --text-color: #333;
  --background-color: #f0f0f0; */
  /* --rt-opacity: 0.9 !important; */
  /* --rt-transition-show-delay: .3s !important; */
  /* --rt-transition-closing-delay: 0.2s !important; */
}

.tooltip {
  background-color: #40405f !important;
  color: #a3c2fb !important;
  /* opacity: 0.9 !important; */
  font-size: 12px !important;
  font-family: "Open sans";
  transition: 0.2s !important;
  padding: 3px 12px !important;
  border-radius: 5px !important;
}

input {
  border-radius: 10px;
  padding: 15px 10px;
  background-color: #f5f5f5 !important;
  border: 1px solid rgb(213, 213, 213) !important;
  outline: none;
}

button {
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}
.sign-button {
  margin-top: 25px !important;
}

.full-page-centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-margin > * {
  margin: 15px 0;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
} */

.shadow {
  box-shadow: 1px 1px 20px #d1d1d1;
}
.terminal {
  box-shadow: 1px 1px 15px 4px #a0a0a0;
  overflow-y: scroll;
  /* max-height: 700px; */
  height: 500px;
  margin-top: 20px;
  /* background-color: rgba(17 24 39, 0.9); */
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 10px;
  color: rgb(27, 192, 73);
}

.login-divider::before,
.login-divider::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgb(159, 159, 159);
  width: 50%;
}

a {
  transition: 0.2s;
}

.root-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  transition: 0.2s;
}

.root-layout .sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 270px;
  height: 100%;
  /* background-color: #121926; */
  /* background-color: #2f4364; */
  /* background-color: #171721; */
  background-color: #1e1e2b;
  border-right: 1px dotted var(--border-color);
  /* background-color: #16162A; */
}
.root-layout .topbar {
  grid-area: header;
  position: fixed;
  left: 270px;
  height: 60px;
  width: 100%;
  /* background-color: #1b1b26; */
  background-color: #1e1e2b;
}

.root-layout .main {
  grid-area: main;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.root-layout > * {
  transition: 0.2s;
}

.main-container {
  max-width: 1400px;
  width: 100%;
}

@keyframes appear {
  0% {
    opacity: 0.1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear2 {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1023px) {
  .root-layout {
    grid-template-columns: 80px 1fr;
  }
  .root-layout .sidebar {
    width: 80px;
  }
  .root-layout .topbar {
    left: 80px;
  }
}
