.table-wrapper {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #1e1e2b;
  overflow-y: auto;
  width: 100%;
  animation: appear4 0.2s ease-in-out 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  text-align: left;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  td {
    padding: 20px 30px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.table-header-row {
  border-bottom: 1px solid var(--border-color);
  background-color: #2e2e41;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-header-cell {
  color: var(--brighter-color);
  height: 50px;
  padding: 0 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.table-header-cell:last-child {
  text-align: center;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
}

.icon {
  height: 22px;
  width: 22px;
  stroke-width: 1.2;
  margin: 0 5px;
  outline: none;
}
.stop-icon {
  height: 24px;
  width: 24px;
  color: rgb(249, 72, 72);
}

@media (max-width: 768px) {
  .table-wrapper {
    min-height: 500px;
  }
}

@media (max-width: 570px) {
  .table {
    font-size: 14px;
  }
  .table-row {
    td {
      padding: 15px;
    }
  }
  .table-header-cell {
    padding: 0 15px;
  }
  .table-wrapper {
    min-height: 410px;
  }
}

@keyframes appear4 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
