.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--padding);
  overflow-y: auto;   
  animation: appear4 .2s ease-in-out 1;
  @media (max-width: 570px) {
    gap: 15px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    height: 1000px;
    flex-direction: column;
    overflow-y: unset;
  }
}
@keyframes appear4 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}