.list {
  position: relative;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  height: 60px;
  padding: 20px var(--padding);
  border-bottom: 1px solid var(--border-color);
  background-color: #2e2e41;
  width: 100%;
  z-index: 1;
  display: flex;
  @media (max-width: 570px) {
    padding: 15px;
  }
}


@media (max-width:1000px) {
  .list {
    height: 400px;
  }
}