.base {
  background-color: var(--background-color);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  /* padding: var(--padding); */
  padding: 15px;
}

.full-height-width {
  height: 100%;
  width: 100%;
}

.wrapper {
  @apply full-height-width;
  display: flex;
  gap: 30px;
}

.left {
  @apply full-height-width;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}

.total-data {
  @apply base;
  @apply full-height-width;
  display: flex;
  flex-direction: column;
}

.recent-scans {
  @apply base;
  @apply full-height-width;
  padding: 0;
}

.nmap-scans {
  @apply base;
  @apply full-height-width;
}

.subfinder-scans {
  @apply base;
  @apply full-height-width;
}

.items-list {
  /* font-size: 16px; */
  height: 100%;
  h1 {
    color: white;
    padding: 15px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    transition: 0.2s;
    font-weight: 500;
    .title {
      display: flex;
      align-items: center;
      .icon {
        color: var(--action-color);
        margin-right: 10px;
      }
    }
  }
  .item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  .item:hover {
    background-color: var(--main-background-color);
  }
}
.icon {
  font-size: 20px;
}
.icon-action {
  transition: 0.3s;
  color: var(--action-color-2);
}
.icon-action:hover {
  transform: scale(1.2);
}
