.base {
  background-color: var(--background-color);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
}

.full-height-width {
  height: 100%;
  width: 100%;
}

.wrapper {
  @apply full-height-width;
  display: flex;
  gap: 30px;
}

.left {
  @apply full-height-width;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}

.total-data {
  @apply base;
  @apply full-height-width;
  padding: 15px;
}

.recent-scans {
  @apply base;
  @apply full-height-width;
}

.nmap-scans {
  @apply base;
  @apply full-height-width;
  padding: 15px;
}

.scans-stats {
  @apply base;
  @apply full-height-width;
  display: flex;
  flex-direction: column;
  .title {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
  }
}

.items-list {
  height: 100%;
  h1 {
    color: white;
    padding: 15px;
  }
  .items-title {
    padding: 15px 30px;
    display: flex;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 30px;
    .title {
      display: flex;
      align-items: center;
      .icon {
        color: var(--action-color);
        margin-right: 10px;
      }
    }
  }
  .item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  .item:hover {
    background-color: var(--main-background-color);
  }
}
.icon {
  font-size: 18px;
}
.icon-action {
  transition: 0.3s;
  color: var(--action-color-2);
}
.icon-action:hover {
  transform: scale(1.2);
}

@media (max-width: 1440px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .right {
    width: 100%;
    .nmap-scans {
      min-height: 300px;
    }
    .scans-stats {
      min-height: 300px;
    }
  }
}

@media (max-width: 768px) {
  .right {
    gap:15px;
    .scans-stats {
      .title {
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  .left {
    gap:15px;
    .recent-scans {
      .items-title {
        flex-direction: column;
        gap: 15px;
      }
      .item {
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .left {
    .recent-scans {
      .item {
        span {
          display: none;
        }
        p {
          width: 120px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
