.base {
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: var(--radius);
}

.wrapper {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  animation: appear4 .2s ease-in-out 1;
  .icon-scan {
    margin-right: 5px;
  }
}

.body {
  width: 100%;
  display: flex;
}

.input {
  width: 100%;
  border: 1px solid var(--border-color);
}

.input::placeholder {
  color: var(--placeholder-color);
}

@media (max-width: 769px) {
  .wrapper {
    .body {
      flex-direction: column;
    }
  }
}
@keyframes appear4 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}